*,
::after,
::before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%
}
body{
    font-family: $primaryFont;
    font-size: 2rem;
    color: $textColorDark;
    background: $colorWhite;
    line-height: 3.6rem;
    overflow-x: hidden !important;
    font-weight: 300;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-transition: background-color 5000s ease-in-out 0s;
  transition: background-color 5000s ease-in-out 0s;

}
a,
a:hover,
a:active,
a:focus {
    text-decoration: none;
    outline: none;
}

.disabled { pointer-events: none; }

ul,
li{
    padding: 0;
    margin: 0;
    list-style: none;
}

.btn:focus,
.btn{
    position: relative;
    overflow: hidden;
    font-size: 2rem;
    font-family: $secondaryFonts;
    cursor: pointer;
    color: $textColorDark;
    text-transform: capitalize;
    line-height: 3rem;
    box-shadow: none;
    padding: 0.5rem 0.8rem 0.5rem 0;
    &:hover{
        color: $textColorDark;
    }
    &::before{
        @include content;
        height: .8rem;
        background: $lineColor;
        bottom: .9rem;
        top: auto;
        z-index: -1;
        top: auto;
        left: auto;
        right: 0;
        transition: 0.3s all cubic-bezier(0.66, 0.25, 0.38, 0.99);
        width: 50%;
    }
    &:hover::before{
        width: 100%;
    }
}


/* Padding/Margin */
.pt-240 { padding-top: 240px; }
.pt-140 { padding-top: 140px; }
.pt-130 { padding-top: 130px; }
.pt-100 { padding-top: 100px; }
.pb-100 { padding-bottom: 100px; }
.pt-90 { padding-top: 90px; }
.pb-90 { padding-bottom: 90px; }
.pt-80 { padding-top: 80px; }
.pb-80 { padding-bottom: 80px; }
.pt-70 { padding-top: 70px; }
.pb-70 { padding-bottom: 70px; }
.pt-60 { padding-top: 60px; }
.pb-60 { padding-bottom: 60px; }
.pt-55 { padding-top: 55px; }
.pb-55 { padding-bottom: 55px; }
.pt-50 { padding-top: 50px; }
.pb-50 { padding-bottom: 50px }
.pt-40 { padding-top: 40px; }
.pb-40 { padding-bottom: 40px; }
.pt-30 { padding-top: 30px; }
.pb-30 { padding-bottom: 30px; }
.pt-20 { padding-top: 20px; }
.pb-20 { padding-bottom: 20px; }
.pt-10 { padding-top: 10px; }
.pb-10 { padding-bottom: 10px; }


.mt-70 {margin-top: 70px;}
.mb-70 {margin-bottom: 70px;}
.mt-60 { margin-top: 60px; }
.mb-60 { margin-bottom: 60px; }
.mt-50 { margin-top: 50px; }
.mb-50 { margin-bottom: 50px; }
.mt-40 { margin-top: 40px; }
.mb-40 { margin-bottom: 40px; }
.mt-30 { margin-top: 30px; }
.mb-30 { margin-bottom: 30px; }

.p-left-190{
    padding-left: 19rem;
}
button:focus{
    outline: none;
    box-shadow: none;
}

.theme__input--style{
    width: 100%;
    height: 46px;
    border: none;
    border-bottom: 1px solid $textColorDark;
    box-shadow: none;
    outline: none;
    padding-left: 14px;
    font-size: 20;
    font-weight: 300;
    resize: none;
}
textarea.theme__input--style{
    height: 225px;
}
.text-up{
    text-transform: uppercase;
}
.text-low{
    text-transform: lowercase;
}
img {
    max-width: 100%;
    height: auto; 
}