h1, .h1{ font-size: 72px; line-height: 1;}
h2, .h2{ font-size: 48px; line-height: 1;}
h3, .h3{ font-size: 36px; line-height: 4.5rem;}
h4, .h4{ font-size: 30px; line-height: 1;}
h5, .h5{ font-size: 24px; line-height: 3.6rem;}
h6, .h6{ font-size: 20px; line-height: 3.6rem;;}

p{
    font-family: $primaryFont;
    font-size: 2rem;
    font-weight: 300;
    margin-bottom: 2.5rem; 
}
.abril{
    font-family: 'Abril Fatface', cursive;
}
