@mixin content {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
}

// midea query maneger

/* 
0-575px mobile
576px - 767px tab
768px - 991px tab portrait
992px - 1199px laptop
1200px - up to all
*/