// text Color
$textColorDark : #222222;
$textColorMedium: #666666;
$textColorLight : #999999;

$colorWhite : #ffffff;
$hoverColor : #ffe8ba;
$lineColor: #f9eec2;
$borderColor: #ffd684;


// Fonts
$primaryFont: 'Josefin Sans', sans-serif;
$secondaryFonts : 'Abril Fatface', cursive;