.footer__widget{
    &--about{
        margin-bottom: 2rem;
        & h5{
            font-weight: 600;
            font-family: $primaryFont;
        }
    }
    & .footer__contact--list{
       & li{
           color: $textColorDark;
           padding-left: 4rem;
           position: relative;
           font-size: 1.8rem;
            line-height: 3rem;
            font-weight: 600;
            padding-bottom: 2rem;
            & span{
                position: absolute;
                left: 0;
                top: 0;
                
            }
            & a{
                color: currentColor;
                font-size: 1.8rem;
                line-height: 3rem;
                font-weight: 600;
            }
           
        }
    }
}

.footer__copyright{
    & p{
        color: $textColorMedium;
        font-size: 1.8rem;
    }
}
.line1, .line2 {
    position: fixed;
    top: 0;
    left: 31%;
    height: 100%;
    width: 1px;
    background-color: #f1f0ef;
    z-index: -1;
}

.line2 {left: 60.8%;}