/* Start header area */

.header {
    position: fixed;
    width: 100%;
    z-index: 1000;
    background: #fff;
    & .header__menu--button{
        backface-visibility: hidden;
        position: absolute;
        right: -2px;
        top: 52%;
        transform: translate(100%,-50%);
        transition: .3s all ease;
        cursor: pointer;
        z-index: 20;
        & span{
            height: .2rem;
            width: 2.5rem;
            display: block;
            background: #222;
            transition: .3s all cubic-bezier(0.25, 0.82, 0, 1.76);
            &:nth-child(2) {
                margin: .4rem 0;
            }
        }
    }
    & .header__inner {
        padding: 0 8rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        transition: .3s all ease;
        &::after{
            @include content;
            height: 10rem;
            width: 10rem;
            background: #fff7e6;
            z-index: -1;
        }
        &::before{
            @include content;
            height: 10rem;
            width: 10rem;
            background: #fff7e6;
            z-index: -1;
            right: 0;
            left: auto;
        }
    }
}

.header__menu--items ul {
    & > li{
        padding-left: 2.2rem;
        display: inline-block;
        position: relative;
        &:hover > ul{
            opacity: 1;
            left: 0;
            top: 10rem;
            z-index: 10;
        }
        &:hover ul li{
            opacity: 1;
            transform: translateY(0);
            & ul li{
                transform: translateY(10px) !important;
            }
         }
        &.active a::before{
            width: 50%;
            opacity: 1;
        }
        //second level
        & ul > .hasSubMenu.active a::before{
            width: 100%;
            opacity: 1;
        }
        & ul > li.active a::before{
            width: 50%;
            opacity: 1;
        }
        &.active li a::before{
            width: 0%;
            opacity: 0;
        }
        //thard level
        & ul > .hasSubMenu ul  li.active a::before{
            width: 50% !important;
            opacity: 1;
        }
        & ul > .hasSubMenu ul li a::before{
            width: 0% !important;
            opacity: 0;
        }
        & >a{
            line-height: 10rem;
            font-size: 2.4rem;
            text-transform: lowercase;
            font-family: $secondaryFonts;
            color:  $textColorDark;
            display: block;
            position: relative;
            z-index: 5;
            &::before{
                @include content;
                top: 53%;
                height: 1rem;
                width: 0;
                background: $hoverColor;
                z-index: -1;
                opacity: 0;
                transition: 0.3s all cubic-bezier(0.66, 0.25, 0.38, 0.99);
            }
            &:hover::before{
                width: 50%;
                opacity: 1;
            }
        }
        & > ul{
            // padding: 1rem 0;
            position: absolute;
            opacity: 0;
            left: -888rem;
            -webkit-transition: top .2s ease,opacity .2s ease;
            transition: top .2s ease,opacity .2s ease;
            top: 13rem;
            background: #fff;
            box-shadow: 0 0 7px rgba(0, 0, 0, 0.05);
            width: 22.4rem;
            // & > li.hasSubMenu ul li {
            //     transform: translateY(10px);
            // }
            & > li {
                width: 22.4rem;
                position: relative;
                display: block;
                padding-left: 0;
                transition: .05s all linear; 
                transform: translateY(10px);
                background: #fff;
                &:first-child{
                    padding-top: 1rem;
                }
                &:last-child{
                    padding-bottom: 1rem;
                }
                & a {
                    display: inline-block;
                    margin: 0px 3rem;
                    font-size: 1.8rem;
                    line-height: 4.8rem;
                    position: relative;
                    -webkit-transition: all .2s;
                    transition: all .2s;
                    text-transform: capitalize;
                    z-index: 5;
                }
                & ul {
                    left: -100% !important;
                    top: 3rem;
                    opacity: 0;
                    visibility: hidden;
                    -webkit-transition: top .3s ease,opacity .2s ease;
                    transition: top .3s ease,opacity .2s ease;
                    margin-left: 0rem !important;
                    width: 22.4rem;
                    & li{
                        transition: .05s all linear;
                    }
                    
                }
                &:hover ul{
                    top: 0rem;
                    opacity: 1;
                    visibility: visible;
                }
                
            }
        }
    }
    & > .hasSubMenu {
        & > a{
            &::after{
                content: '..';
                right: 0;
                top: 53%;
                color: $textColorDark;
                opacity: 1;
                transition: 0.3s all cubic-bezier(0.66, 0.25, 0.38, 0.99);
            }
            &::before{
                @include content;
                top: 53%;
                height: 1rem;
                width: 0%;
                background: $hoverColor;
                z-index: -1;
                opacity: 0;
                transition: 0.3s all cubic-bezier(0.66, 0.25, 0.38, 0.99);
            }
            &:hover::before{
                width: 100%; 
                opacity: 1; 
            }
        }
        & > ul > .hasSubMenu{
            & > a{
                &::after{
                    content: '..';
                    right: 0;
                    top: 53%;
                    color: $textColorDark;
                    opacity: 1;
                    transition: 0.3s all cubic-bezier(0.66, 0.25, 0.38, 0.99);
                }
                &::before{
                    @include content;
                    top: 53%;
                    height: 1rem;
                    width: 0%;
                    background: $hoverColor;
                    z-index: -1;
                    opacity: 0;
                    transition: 0.3s all cubic-bezier(0.66, 0.25, 0.38, 0.99);
                }
                &:hover::before{
                   width: 100%;
                   opacity: 1;  
                }
            }
        }
    }
}

@for $i from 1 through 15 {
    .header__menu--items ul li:hover ul li:nth-child(#{$i}) {
       transition-delay:.1s * $i;
    }
    .header__menu--items ul li ul li ul li{
        transition-delay: 0s !important;
    }
    .header__menu--items ul li ul li:hover ul li:nth-child(#{$i}) {
       transition-delay:.1s * $i !important;
    }
}
.header__menu--items ul li ul li:hover ul li{
    transform: translateY(0) !important
}
.header__menu--items ul li ul li ul li{
    transform: translateY(10px) 
}
header.header.isActive {
    background: transparent;
    & .header__inner {
        padding: 0 3rem;
    }
    & .header__menu--button {
        transform: translate(-3.7rem, -50%);
    }
    & .menu__container .header__menu .header__menu--items {
        transform: translateX(103%);
        opacity: 0;
        visibility: hidden;
    }
    & .menu__container .header__menu.active .header__menu--items {
        transform: translateX(-5rem);
        opacity: 1;
        visibility: visible;
    }
}

.header__menu--items {
    transition: 1.2s all ease;
}

.active .header__menu--button{
    & span{
        &:first-child {
            transform: translate(0px, .3rem) rotate(-45deg);
        }
        &:last-child {
            transform: translate(0px, -.3rem) rotate(45deg);
        }
        &:nth-child(2){
            transform: translate(.5rem , 0);
            opacity: 0;
        }
    }
}
.bg{
    background: #fff !important;
    box-shadow: 0 .1rem 1rem rgba(0,0,0,.2);
    transition: 1s all;
}