.about__me--discription {
    margin-bottom: 4rem;
}
.about__main--content {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.about__me--counter {
    & h6{
        font-weight: 300;
    }
    & span {
        font-variant-numeric: tabular-nums;
        font-size: 24px;
        font-weight: 700;
    }
}

.single__skill{
    margin-bottom: 5.5rem;
        .skill-circle {
        position: relative;
        margin-right: 30px;
        height: 65px;
        & h6 {
            font-size: 16px;
            font-weight: 600;
            position: absolute;
            top: 50%;
            margin-bottom: 0;
            transform: translate(-50%, -50%);
            left: 50%;
            line-height: 1;
        }
    }
}



.single__experience{
    padding-bottom: 6.5rem;
    .company__info {
        padding-bottom: 13px;
        & h5 {
            font-weight: 600;
            display: inline-block;
            margin-right: 3rem;
        }
        & span{
            font-weight: 600;
            font-size: 16px;
        }
    }
    .company__discription{
        & p{
            margin-bottom: 0;
        }
    }
}
.about__us{
    margin-top: -20px;
}
.contact__me--free{
    & h5{
        font-weight: 600;
        margin-bottom: 20px;
    }
   & .contact__email {
       position: relative;
       & h4{
        display: inline-block;
        position: relative;
            &::before{
                @include content;
                    height: 14px;
                    background: #ffe8ba;
                    bottom: -3px;
                    top: auto;
                    z-index: -1;
            }
       }
   }
}
.about__image--content {
    padding-top: 70px;
    & h5{
        font-size: 24px;
        font-weight: 700;
        margin-bottom: 20px;
    }
}