
.single__banner {
    position: relative;
    height: 99rem;
    padding-top: 10rem;
}

.banner__text{
    z-index: 10;
    position: absolute;
    right: 15px;
    top: 12.7rem;
    & .text__head{
        padding-bottom: 5.5rem;
        & h1{
            font-family: $secondaryFonts;
            color: $textColorDark;
            & span{
                font-size: 12rem;
                position: relative;
                display: inline-block;
                margin-left: 70px;
                margin-top: -7px;
                &::before{
                    @include content;
                    height: 3.5rem;
                    background: $lineColor;
                    bottom: 3px;
                    top: auto;
                    z-index: -1;
                    top: auto;
                }
            }
        }
    }
    & .text__bottom{
        margin-left: 19rem;
        & .text__bottom--paragraph{
            padding-bottom: 40px;
        }
        & .banner__btn{
            text-align: center;
        }
    }
}

.banner__mata{
    width: 19rem;
    margin-left: 15px;
    position: absolute;
    bottom: -8rem;
    & .banner__mata--content {
        a{
            color: $textColorDark;
            font-size: 1.4rem;
            line-height: 3rem;
            font-weight: 700;
            display: block;
            & span{
                color: $textColorMedium;
                font-weight: 400;
            }
        }
    }
}
.slider__count{
        margin-bottom: 1.7rem;
        & h3{
            font-family: $secondaryFonts;
            color: $textColorDark;
            & span{
                font-size: 1.6rem;
            }
        }
    }
    