.single__blog {
    margin-bottom: 6.5rem;
    &--image{
        position: relative;
        margin-bottom: 3.3rem; 
    }
}
.blog__details{
    padding: 0 9.5rem 0 9.5rem;
    & h4{
        color: $textColorDark;
        padding-bottom: 1.8rem;
        line-height: 4rem;
        & a{
            color: currentColor;
            display: inline-block;
        }
    }
    & p{
        color: $textColorDark;
        margin-bottom: 0.6rem;
    }
    & .details__bottom{
        justify-content: space-between;
    }
}
.blog__info {
    & .blog__info--mate{
        color: $textColorMedium;
        font-size: 1.4rem;
        margin-left: 3rem;
        display: inline-block;
        font-weight: 600;
    }
}

.blog__quote{
    padding: 6.5rem 9rem 4.5rem 13rem;
    background: #fffcf4;
    & .blog__info {
        & .blog__info--mate{
            margin-right: 3rem;
            margin-left: 0;
        }
    }
}
.blog__quote--text{
    & h4{
        line-height: 4rem;
        position: relative;
    }
    & span{
        position: absolute;
        top: -16px;
        left: -29px;
        display: inline-block;
        & .svg .cls-1{
            fill: $lineColor;
        }
        & i{
            color: $lineColor;
        }
    }
    & span:last-child {
        bottom: -12px;
        top: auto;
        right: 27px;
        left: auto;
    }
}

.quote__author{
    position: relative;
    & p {
    font-weight: 400;
    font-style: italic;
    padding-left: 2.5rem;
    margin-top: .6rem;
    margin-bottom: 1.2rem;
    }
    &::before{
        @include content;
        height: 2px;
        width: 20px;
        background: $textColorDark;
        top: 55%;
        transform: translateY(-50%)
    }
}
.blog__video {
   overflow: hidden;
    &:hover a:after {
        transform: scale(2);
        opacity: 0;
    }
    & .single__blog--video {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        transition: .1s all;
    }
    & .video-btn {
        height: 85px;
        width: 85px;
        line-height: 85px;
        background: #f6eee3;
        display: inline-block;
        text-align: center;
        border-radius: 50%;
        position: relative;
        transition: .3s all;
        &::after{
            @include content;
            border: 2px solid #98847e;
            border-radius: 50%;
            transition: .3s all ease;
        }
    }
}
.single__blog.blog__link {
    padding: 7.2rem 9rem 6.3rem;
    background: #fffcf4;
    .blog__link--text {
        & a {
            color: currentColor;
            line-height: 4rem;
        }
        & h4 {
            margin-bottom: 1.7rem;
        }
    }
    .blog__link--icon {
        position: absolute;
        top: 3rem;
        left: 5rem;
    }

}

.blog__slider--carousel{
    & .owl-nav {
        position: absolute;
        bottom: 0;
        right: 0;
    }
    & .owl-prev,
    .owl-next{
        height: 6rem;
        text-align: center;
        line-height: 6rem;
        width: 4.5rem;
        background: #fff !important;
    }
}
.blog__slider .slider__count {
    position: absolute;
    z-index: 11;
    bottom: 1rem;
    left: 3rem;
    margin-bottom: 0;
}
.slider__count{
        margin-bottom: 1.7rem;
        & h3{
            & #counter{
                font-family: $secondaryFonts;
                color: $textColorDark;
                font-size: 3.6rem;
                font-variant-numeric: tabular-nums;
            }
            & #total-counter{
                font-size: 1.6rem;
            }
        }
    }

.blog__pagination {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .pagination__page--number{
        & ul {
            display: flex;
            & li{
                &.active{
                    & a{
                        border: 1px solid $borderColor;
                    }
                }
                & a{
                    height: 6rem;
                    width: 6rem;
                    line-height: 6rem;
                    text-align: center;
                    display: block;
                    font-family: "Abril Fatface", cursive;
                    font-size: 1.6rem;
                    color: $textColorDark;
                    border-radius: 50%;
                }
            }
        }
    }
    .pagination__prev{
        & a span{
            margin-right: 1rem;
        }
    }
    .pagination__next{
        & a {
            padding-right: 0;
            & span{
                margin-left: 1rem;
            }
        }
    }
}