.single__client {
    margin-bottom: 4.8rem;
    & h5 {
        font-weight: 600;
        display: inline-block;
        margin-right: 25px;
        margin-bottom: 0;
    }
    & span{
        font-size: 16px;
        line-height: 40px;
    }
}