.we__hear{
    & h2{
        margin-top: -6px;
        }
    &--address{
        margin-bottom: 4rem;
        & span{
            color: $textColorLight;
            font-size: 16px;
            line-height: 3rem;
        }
        & h6{
            font-weight: 600;
        }
    }
    &--social{
        & span{
            color: $textColorLight;
            font-size: 16px;
            line-height: 3rem;
            margin-bottom: 10px;
            display: inline-block;
        }
        & .social__items{
            & li{
                position: relative;
                line-height: 1;
            }
            & a{
                display: inline-block;
                font-size: 24px;
                font-weight: 600;
                color: currentColor;
                margin-bottom: 5px;
                position: relative;
                line-height: 1;
                margin-bottom: 16px;
                &::before{
                    @include content;
                    height: 8px;
                    width: 0%;
                    right: 0;
                    transition: .3s all ease;
                    bottom: 1px;
                    background: #ffe8ba;
                    z-index: -1;
                    top: auto;
                    left: auto;
                }
                &:hover{
                    &::before{
                        width: 100%;
                    }
                }
            }
        }
    }
}

#map{
    height: 70rem;
    width: 100%;
}

.contact__us {
    & h2 {
        margin-top: -6px;
    } 
}
.single__form--item {
    margin-bottom: 4rem;
    &:last-child{
        margin-bottom: 0;
    }
        & span{
           color: $textColorLight;
            font-size: 16px;
            line-height: 3rem;
            margin-bottom: 6px;
        }
        & .form__field{
            margin-top: 13px;
            & input, & textarea{
                margin-bottom: 3rem;
            }
        }
        
    }
