.page__title{
    padding-top: 14rem;
    padding-bottom: 9.1rem;
}
.title__heading{
    display: flex;
    justify-content: space-between;
    padding-bottom: 3.8rem;
    &--text{
        & h1{
            font-family: $secondaryFonts;
            display: inline-block;
            position: relative;
            z-index: 1;
            &::before{
                @include content;
                height: 2rem;
                bottom: 0;
                left: 0;
                top: auto;
                background: $lineColor;
                z-index: -1;
            }
        }
    }
    &--breadcumb{
        align-self: flex-end;
        & li{
            position: relative;
            & + li {
                &::before{
                    @include content;
                    height: 2px;
                    width: 2px;
                    top: 58%;
                    background: $textColorLight;
                    left: 4px;
                    border-radius: 50%;
                }
            }
            & a{
                font-size: 1.8rem;
                color: $textColorLight;
                margin-left: 1rem;
                padding: .5rem .5rem;
                &.active:last-child{
                    color: $textColorDark;
                }
            }
        }
    }
}
.section__title--type2 {
    padding-bottom: 6rem;
    margin-top: -10px;
    & h2 {
        text-transform: lowercase;
        line-height: 54px;
    }
}