.single__service{
    padding-bottom: 7rem;
    .service__info {
        & h5 {
            font-weight: 600;
            margin-bottom: 2.3rem;
        }
    }
    .service__discription{
        & p{
            margin-bottom: 0;
        }
    }
}
