.post__head{
    padding-top: 13rem;
    padding-bottom: 4rem;
    & h1{
        line-height: 7.5rem;
        padding-bottom: 9.3rem;
    }
    &--mata{
        padding-bottom: 3rem;
        & li {
            display: inline-block;
            padding-right: 2.6rem;
            color: #333333;
            & a{
                font-weight: 600;
                color: #333333;
                font-size: 16px;
            }
        }
    }
    &----discription{
        padding-bottom: 3.5rem;
    }
}
.post__main--image {
    padding-bottom: 6.7rem;
    margin-left: calc(50% - 50vw);
    margin-right: calc(50% - 50vw);
    max-width: 3000%;
    & img{
        width: 100%;
    }
}
.post__body{
    &--discription {
        padding-bottom: 3rem;
       & h5 {
            line-height: 36px;
            padding-bottom: 30px;
            font-weight: 600;
        }
    }
}

    

.author__quote{
    padding-bottom: 6rem;
    &--content {
        padding-left: 2rem;
        & p {
            font-style: italic;
            margin-bottom: 18px;
        }
        & h6 {
            position: relative;
            padding-left: 35px;
            &::before{
                @include content;
                width: 25px;
                height: 2px;
                left: 0;
                top: 62%;
                transform: translateY(-50%);
                background: $textColorDark;
            }
        }
    }
}

.body__content{
    &--heading{
        margin-bottom: 4rem;
    }
}
.end__discription{
    position: relative;
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 4.4rem;
    &--item{
        height: 7px;
        width: 7px;
        background: #d1d1d1;
        margin-right: 1.5rem;
        display: inline-block;
        margin-left: 1.5rem;
    }
}
.post__meta {
    margin-bottom: 6px;
    .post__meta--tags,
    .post__meta--category {
        & p {
            font-size: 16px;
            line-height: 3rem;
            font-weight: 400;
            display: inline-block;
        }
        & a{
            font-size: 14px;
            line-height: 3rem;
            font-weight: 300;
            display: inline-block;
            color: #666666;
        }
    }

    .post__meta--comment{
        & .blog__info--mate{
            color: $textColorMedium;
            font-size: 14px;
        & span {
                font-weight: 700;
                color: $textColorDark;
                font-size: 16px;;
            }
        }
    }
}


.post__author {
    border-top: 1px solid #ececec;
    border-bottom: 1px solid #ececec;
    padding: 3.7rem 0 3.4rem;
    margin-bottom: 4rem;
    .author__discription{
        & .avatar{
            height: 50px;
            width: 50px;
            border-radius: 50%;
            margin-right: 20px;
            overflow: hidden;
        }
        & .author__name{
            & span{
                font-weight: 300;
                font-size: 14px;
                color: $textColorMedium;
            }
            & p{
                margin-bottom: 0;
                font-size: 18px;
                font-weight: 400;
                line-height: 1;
                color: $textColorDark;
            }
        }
    }
    .author__comment--quote {
        & p {
            font-size: 18px;
            margin-bottom: 0;
        }
    }
}

.post__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 9.5rem;
    .post__social{
        & ul {
            display: flex;
            & li{
                &:hover{
                    & a{
                        border: 1px solid $borderColor;
                    }
                }
                & a{
                    height: 6rem;
                    width: 6rem;
                    line-height: 6rem;
                    text-align: center;
                    display: block;
                    font-family: "Abril Fatface", cursive;
                    font-size: 2.4rem;
                    color: $textColorDark;
                    border-radius: 50%;
                    transition: .3s all ease;
                    border: 1px solid transparent;
                }
            }
        }
    }
    .post__prev{
        & a span{
            margin-right: 1rem;
        }
    }
    .post__next{
        & a {
            padding-right: 0;
            & span{
                margin-left: 1rem;
            }
        }
    }
}
.post__comments {
        padding-bottom: 5rem;
    & h4 {
        padding-bottom: 18px;
    }
    .comment__wrap{
        & ul{
            & li{
                    padding-top: 4.2rem;
                & li{
                    padding-left: 95px;;
                }
            }
        } 
    }
}

.single__comment{
    position: relative;
    & .avatar {
        height: 70px;
        width: 70px;
        border-radius: 50%;
        overflow: hidden;
        margin-right: 30px;
    }
    .comment__details {
        flex: 1;
        & h6 {
            font-weight: 700;
            font-size: 18px;
            margin-bottom: 0;
            color: $textColorDark;
            line-height: 1;
        }
        & span{
           color: $textColorDark;
           font-size: 14px; 
        }
        & p{
            font-size: 18px;
            margin-bottom: 0;
        }
        & .reply__btn{
            position: absolute;
            top: 0;
            right: 0;
            color: $textColorDark;
            font-size: 14px;
            font-weight: 400;
            & i{
                margin-right: 10px;
            }
        }
    }
}

.comment__form{
    border: 2px solid $textColorDark;
    border-radius: 3px;
    padding: 4.5rem 5rem 4rem;
    & h4{
        padding-bottom: 6.5rem;
    }
    & textarea{
        width: 100%;
        height: 12rem;
        resize: none;
        border: none;
        border-bottom: 1px solid $textColorDark;
        margin-bottom: 30px;
        outline: none;
        box-shadow: none;
        font-size: 16px;
        padding-left: 20px;
        color: #222;
        font-weight: 300;
    }
    & input{
        width: 100%;
        height: 4rem;
        resize: none;
        border: none;
        border-bottom: 1px solid $textColorDark;
        margin-bottom: 30px;
        outline: none;
        box-shadow: none;
        font-size: 16px;
        padding-left: 20px;
        color: #222;
        font-weight: 300;
    }
}