.single__testimonial{
    position: relative;
    margin-top: 1.6rem;
    &--quote{
        & svg{
            position: absolute;
            top: 1rem;
            left: 16.8rem;
        } 
    }
    &--paragraph{
        padding-bottom: 1.3rem;
        & p{
            font-style: italic;
            font-weight: 300;
            margin-bottom: 2rem;
        } 
    }
    &--author{
        margin-bottom: -10px;
        & h6{
            font-weight: bold;
            margin-bottom: 0;
        }
        & p{
            font-weight: 400;
            font-size: 1.8rem;
            margin-bottom: 0;
        }
    }
}
.testimonial--carousel{
    & .owl-nav {
        position: absolute;
        bottom: 2rem;
        right: 19.9rem;
        & button{
            line-height: 1;
            height: 3.5rem;
            width: 3.5rem;
        }
        
    }
}