.details__head {
    &--discription{
        h5{
            font-weight: 600;
        }
    }
    & h1 {
        margin-bottom: 4.5rem;
        text-transform: lowercase;
    }
    .details__head--discription {
        padding-bottom: 8.2rem;
       & p{
           font-weight: 400;
       }
    }
    .details__head--meta {
        padding-bottom: 6.4rem;
        & ul {
            display: flex;
           & li{
                flex: 0 0 33%;
                flex-wrap: wrap;
                color: $textColorDark;
                & p{
                    margin-bottom: 4px;
                    line-height: 1;
                }
                & a{
                    font-weight: 600;
                    color: currentColor;
                }
            }
        }
    }
}

.works__carousel{
    &:hover{
       & .owl-prev{
           left: -15px;
       } 
       & .owl-next{
           right: -15px;
       } 
    }
    & .owl-prev, & .owl-next {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
        transition: .3s all ease;
            & svg path{
                fill : #666;
                transition: .3s all;
            }
        &:hover{
            & svg path{
                fill : #c0c0c0;
            }
        }
    }
    & .owl-next {
        right: 0;
        left: auto;
    }
}
.details__image {
    margin-bottom: 6.5rem;
}
.details__body-discription {
    padding-bottom: 3.6rem;
}
