.section__title{
    margin-bottom: 63px;
    margin-top: -.6rem;
    & h4{
        font-family: $secondaryFonts;
    }
    & h2{
        font-family: $secondaryFonts;
    }
}
.section__description{
    margin-bottom: 11.2rem;
    & p{
        font-weight: 300;
    }
}
.single__works--wrap:nth-child(even) {
    transform: translateY(-24.8rem);
}


.single__works{
    margin-bottom: 22rem;
        & .single__works--image{
        position: relative;
        & .more-details{
            position: absolute;
            bottom: 2rem;
            right: 4.5rem;
            font-size: 2.8rem;
            color: $textColorDark;
            opacity: 0;
            visibility: hidden;
            transition: .3s all linear;
        }
        & figcaption{
            color: $textColorDark;
            font-size: 3rem;
            position: absolute;
            bottom: 8.9rem;
            left: 81%;
            width: 25.5rem;
            & a{
                color: currentColor;
                font-family: $secondaryFonts;
            }
        }
        &:hover .more-details{
            visibility: visible;
            opacity: 1;
        }
    }
}
.load__more {
    padding-left: 19rem;
    margin-top: -3.4rem;
}

