/* 
0-575px mobile
576px - 767px tab
768px - 991px tab portrait
992px - 1199px laptop
1200px - up to all
*/
*,
::after,
::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Josefin Sans", sans-serif;
  font-size: 2rem;
  color: #222222;
  background: #ffffff;
  line-height: 3.6rem;
  overflow-x: hidden !important;
  font-weight: 300;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-transition: background-color 5000s ease-in-out 0s;
  transition: background-color 5000s ease-in-out 0s;
}

a,
a:hover,
a:active,
a:focus {
  text-decoration: none;
  outline: none;
}

.disabled {
  pointer-events: none;
}

ul,
li {
  padding: 0;
  margin: 0;
  list-style: none;
}

.btn:focus,
.btn {
  position: relative;
  overflow: hidden;
  font-size: 2rem;
  font-family: "Abril Fatface", cursive;
  cursor: pointer;
  color: #222222;
  text-transform: capitalize;
  line-height: 3rem;
  box-shadow: none;
  padding: 0.5rem 0.8rem 0.5rem 0;
}
.btn:focus:hover,
.btn:hover {
  color: #222222;
}
.btn:focus::before,
.btn::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  height: 0.8rem;
  background: #f9eec2;
  bottom: 0.9rem;
  top: auto;
  z-index: -1;
  top: auto;
  left: auto;
  right: 0;
  transition: 0.3s all cubic-bezier(0.66, 0.25, 0.38, 0.99);
  width: 50%;
}
.btn:focus:hover::before,
.btn:hover::before {
  width: 100%;
}

/* Padding/Margin */
.pt-240 {
  padding-top: 240px;
}

.pt-140 {
  padding-top: 140px;
}

.pt-130 {
  padding-top: 130px;
}

.pt-100 {
  padding-top: 100px;
}

.pb-100 {
  padding-bottom: 100px;
}

.pt-90 {
  padding-top: 90px;
}

.pb-90 {
  padding-bottom: 90px;
}

.pt-80 {
  padding-top: 80px;
}

.pb-80 {
  padding-bottom: 80px;
}

.pt-70 {
  padding-top: 70px;
}

.pb-70 {
  padding-bottom: 70px;
}

.pt-60 {
  padding-top: 60px;
}

.pb-60 {
  padding-bottom: 60px;
}

.pt-55 {
  padding-top: 55px;
}

.pb-55 {
  padding-bottom: 55px;
}

.pt-50 {
  padding-top: 50px;
}

.pb-50 {
  padding-bottom: 50px;
}

.pt-40 {
  padding-top: 40px;
}

.pb-40 {
  padding-bottom: 40px;
}

.pt-30 {
  padding-top: 30px;
}

.pb-30 {
  padding-bottom: 30px;
}

.pt-20 {
  padding-top: 20px;
}

.pb-20 {
  padding-bottom: 20px;
}

.pt-10 {
  padding-top: 10px;
}

.pb-10 {
  padding-bottom: 10px;
}

.mt-70 {
  margin-top: 70px;
}

.mb-70 {
  margin-bottom: 70px;
}

.mt-60 {
  margin-top: 60px;
}

.mb-60 {
  margin-bottom: 60px;
}

.mt-50 {
  margin-top: 50px;
}

.mb-50 {
  margin-bottom: 50px;
}

.mt-40 {
  margin-top: 40px;
}

.mb-40 {
  margin-bottom: 40px;
}

.mt-30 {
  margin-top: 30px;
}

.mb-30 {
  margin-bottom: 30px;
}

.p-left-190 {
  padding-left: 19rem;
}

button:focus {
  outline: none;
  box-shadow: none;
}

.theme__input--style {
  width: 100%;
  height: 46px;
  border: none;
  border-bottom: 1px solid #222222;
  box-shadow: none;
  outline: none;
  padding-left: 14px;
  font-size: 20;
  font-weight: 300;
  resize: none;
}

textarea.theme__input--style {
  height: 225px;
}

.text-up {
  text-transform: uppercase;
}

.text-low {
  text-transform: lowercase;
}

img {
  max-width: 100%;
  height: auto;
}

h1, .h1 {
  font-size: 72px;
  line-height: 1;
}

h2, .h2 {
  font-size: 48px;
  line-height: 1;
}

h3, .h3 {
  font-size: 36px;
  line-height: 4.5rem;
}

h4, .h4 {
  font-size: 30px;
  line-height: 1;
}

h5, .h5 {
  font-size: 24px;
  line-height: 3.6rem;
}

h6, .h6 {
  font-size: 20px;
  line-height: 3.6rem;
}

p {
  font-family: "Josefin Sans", sans-serif;
  font-size: 2rem;
  font-weight: 300;
  margin-bottom: 2.5rem;
}

.abril {
  font-family: "Abril Fatface", cursive;
}

/* 1.7: Animations */
.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: backwards;
  animation-fill-mode: backwards;
}

.animated.infinite {
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -40px, 0);
    transform: translate3d(0, -40px, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }
}
@keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -40px, 0);
    transform: translate3d(0, -40px, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }
}
.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
}

@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 40px, 0);
    transform: translate3d(0, 40px, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }
}
@keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 40px, 0);
    transform: translate3d(0, 40px, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }
}
.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}

@-webkit-keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-50%, 0, 0);
    transform: translate3d(-50%, 0, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-50%, 0, 0);
    transform: translate3d(-50%, 0, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
.fadeInLeft {
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
}

@-webkit-keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(50%, 0, 0);
    transform: translate3d(50%, 0, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(50%, 0, 0);
    transform: translate3d(50%, 0, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
.fadeInRight {
  -webkit-animation-name: fadeInRight;
  animation-name: fadeInRight;
}

/* Start header area */
.header {
  position: fixed;
  width: 100%;
  z-index: 1000;
  background: #fff;
}
.header .header__menu--button {
  backface-visibility: hidden;
  position: absolute;
  right: -2px;
  top: 52%;
  transform: translate(100%, -50%);
  transition: 0.3s all ease;
  cursor: pointer;
  z-index: 20;
}
.header .header__menu--button span {
  height: 0.2rem;
  width: 2.5rem;
  display: block;
  background: #222;
  transition: 0.3s all cubic-bezier(0.25, 0.82, 0, 1.76);
}
.header .header__menu--button span:nth-child(2) {
  margin: 0.4rem 0;
}
.header .header__inner {
  padding: 0 8rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.3s all ease;
}
.header .header__inner::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  height: 10rem;
  width: 10rem;
  background: #fff7e6;
  z-index: -1;
}
.header .header__inner::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  height: 10rem;
  width: 10rem;
  background: #fff7e6;
  z-index: -1;
  right: 0;
  left: auto;
}

.header__menu--items ul > li {
  padding-left: 2.2rem;
  display: inline-block;
  position: relative;
}
.header__menu--items ul > li:hover > ul {
  opacity: 1;
  left: 0;
  top: 10rem;
  z-index: 10;
}
.header__menu--items ul > li:hover ul li {
  opacity: 1;
  transform: translateY(0);
}
.header__menu--items ul > li:hover ul li ul li {
  transform: translateY(10px) !important;
}
.header__menu--items ul > li.active a::before {
  width: 50%;
  opacity: 1;
}
.header__menu--items ul > li ul > .hasSubMenu.active a::before {
  width: 100%;
  opacity: 1;
}
.header__menu--items ul > li ul > li.active a::before {
  width: 50%;
  opacity: 1;
}
.header__menu--items ul > li.active li a::before {
  width: 0%;
  opacity: 0;
}
.header__menu--items ul > li ul > .hasSubMenu ul li.active a::before {
  width: 50% !important;
  opacity: 1;
}
.header__menu--items ul > li ul > .hasSubMenu ul li a::before {
  width: 0% !important;
  opacity: 0;
}
.header__menu--items ul > li > a {
  line-height: 10rem;
  font-size: 2.4rem;
  text-transform: lowercase;
  font-family: "Abril Fatface", cursive;
  color: #222222;
  display: block;
  position: relative;
  z-index: 5;
}
.header__menu--items ul > li > a::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  top: 53%;
  height: 1rem;
  width: 0;
  background: #ffe8ba;
  z-index: -1;
  opacity: 0;
  transition: 0.3s all cubic-bezier(0.66, 0.25, 0.38, 0.99);
}
.header__menu--items ul > li > a:hover::before {
  width: 50%;
  opacity: 1;
}
.header__menu--items ul > li > ul {
  position: absolute;
  opacity: 0;
  left: -888rem;
  -webkit-transition: top 0.2s ease, opacity 0.2s ease;
  transition: top 0.2s ease, opacity 0.2s ease;
  top: 13rem;
  background: #fff;
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.05);
  width: 22.4rem;
}
.header__menu--items ul > li > ul > li {
  width: 22.4rem;
  position: relative;
  display: block;
  padding-left: 0;
  transition: 0.05s all linear;
  transform: translateY(10px);
  background: #fff;
}
.header__menu--items ul > li > ul > li:first-child {
  padding-top: 1rem;
}
.header__menu--items ul > li > ul > li:last-child {
  padding-bottom: 1rem;
}
.header__menu--items ul > li > ul > li a {
  display: inline-block;
  margin: 0px 3rem;
  font-size: 1.8rem;
  line-height: 4.8rem;
  position: relative;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  text-transform: capitalize;
  z-index: 5;
}
.header__menu--items ul > li > ul > li ul {
  left: -100% !important;
  top: 3rem;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: top 0.3s ease, opacity 0.2s ease;
  transition: top 0.3s ease, opacity 0.2s ease;
  margin-left: 0rem !important;
  width: 22.4rem;
}
.header__menu--items ul > li > ul > li ul li {
  transition: 0.05s all linear;
}
.header__menu--items ul > li > ul > li:hover ul {
  top: 0rem;
  opacity: 1;
  visibility: visible;
}
.header__menu--items ul > .hasSubMenu > a::after {
  content: "..";
  right: 0;
  top: 53%;
  color: #222222;
  opacity: 1;
  transition: 0.3s all cubic-bezier(0.66, 0.25, 0.38, 0.99);
}
.header__menu--items ul > .hasSubMenu > a::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  top: 53%;
  height: 1rem;
  width: 0%;
  background: #ffe8ba;
  z-index: -1;
  opacity: 0;
  transition: 0.3s all cubic-bezier(0.66, 0.25, 0.38, 0.99);
}
.header__menu--items ul > .hasSubMenu > a:hover::before {
  width: 100%;
  opacity: 1;
}
.header__menu--items ul > .hasSubMenu > ul > .hasSubMenu > a::after {
  content: "..";
  right: 0;
  top: 53%;
  color: #222222;
  opacity: 1;
  transition: 0.3s all cubic-bezier(0.66, 0.25, 0.38, 0.99);
}
.header__menu--items ul > .hasSubMenu > ul > .hasSubMenu > a::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  top: 53%;
  height: 1rem;
  width: 0%;
  background: #ffe8ba;
  z-index: -1;
  opacity: 0;
  transition: 0.3s all cubic-bezier(0.66, 0.25, 0.38, 0.99);
}
.header__menu--items ul > .hasSubMenu > ul > .hasSubMenu > a:hover::before {
  width: 100%;
  opacity: 1;
}

.header__menu--items ul li:hover ul li:nth-child(1) {
  transition-delay: 0.1s;
}

.header__menu--items ul li ul li ul li {
  transition-delay: 0s !important;
}

.header__menu--items ul li ul li:hover ul li:nth-child(1) {
  transition-delay: 0.1s !important;
}

.header__menu--items ul li:hover ul li:nth-child(2) {
  transition-delay: 0.2s;
}

.header__menu--items ul li ul li ul li {
  transition-delay: 0s !important;
}

.header__menu--items ul li ul li:hover ul li:nth-child(2) {
  transition-delay: 0.2s !important;
}

.header__menu--items ul li:hover ul li:nth-child(3) {
  transition-delay: 0.3s;
}

.header__menu--items ul li ul li ul li {
  transition-delay: 0s !important;
}

.header__menu--items ul li ul li:hover ul li:nth-child(3) {
  transition-delay: 0.3s !important;
}

.header__menu--items ul li:hover ul li:nth-child(4) {
  transition-delay: 0.4s;
}

.header__menu--items ul li ul li ul li {
  transition-delay: 0s !important;
}

.header__menu--items ul li ul li:hover ul li:nth-child(4) {
  transition-delay: 0.4s !important;
}

.header__menu--items ul li:hover ul li:nth-child(5) {
  transition-delay: 0.5s;
}

.header__menu--items ul li ul li ul li {
  transition-delay: 0s !important;
}

.header__menu--items ul li ul li:hover ul li:nth-child(5) {
  transition-delay: 0.5s !important;
}

.header__menu--items ul li:hover ul li:nth-child(6) {
  transition-delay: 0.6s;
}

.header__menu--items ul li ul li ul li {
  transition-delay: 0s !important;
}

.header__menu--items ul li ul li:hover ul li:nth-child(6) {
  transition-delay: 0.6s !important;
}

.header__menu--items ul li:hover ul li:nth-child(7) {
  transition-delay: 0.7s;
}

.header__menu--items ul li ul li ul li {
  transition-delay: 0s !important;
}

.header__menu--items ul li ul li:hover ul li:nth-child(7) {
  transition-delay: 0.7s !important;
}

.header__menu--items ul li:hover ul li:nth-child(8) {
  transition-delay: 0.8s;
}

.header__menu--items ul li ul li ul li {
  transition-delay: 0s !important;
}

.header__menu--items ul li ul li:hover ul li:nth-child(8) {
  transition-delay: 0.8s !important;
}

.header__menu--items ul li:hover ul li:nth-child(9) {
  transition-delay: 0.9s;
}

.header__menu--items ul li ul li ul li {
  transition-delay: 0s !important;
}

.header__menu--items ul li ul li:hover ul li:nth-child(9) {
  transition-delay: 0.9s !important;
}

.header__menu--items ul li:hover ul li:nth-child(10) {
  transition-delay: 1s;
}

.header__menu--items ul li ul li ul li {
  transition-delay: 0s !important;
}

.header__menu--items ul li ul li:hover ul li:nth-child(10) {
  transition-delay: 1s !important;
}

.header__menu--items ul li:hover ul li:nth-child(11) {
  transition-delay: 1.1s;
}

.header__menu--items ul li ul li ul li {
  transition-delay: 0s !important;
}

.header__menu--items ul li ul li:hover ul li:nth-child(11) {
  transition-delay: 1.1s !important;
}

.header__menu--items ul li:hover ul li:nth-child(12) {
  transition-delay: 1.2s;
}

.header__menu--items ul li ul li ul li {
  transition-delay: 0s !important;
}

.header__menu--items ul li ul li:hover ul li:nth-child(12) {
  transition-delay: 1.2s !important;
}

.header__menu--items ul li:hover ul li:nth-child(13) {
  transition-delay: 1.3s;
}

.header__menu--items ul li ul li ul li {
  transition-delay: 0s !important;
}

.header__menu--items ul li ul li:hover ul li:nth-child(13) {
  transition-delay: 1.3s !important;
}

.header__menu--items ul li:hover ul li:nth-child(14) {
  transition-delay: 1.4s;
}

.header__menu--items ul li ul li ul li {
  transition-delay: 0s !important;
}

.header__menu--items ul li ul li:hover ul li:nth-child(14) {
  transition-delay: 1.4s !important;
}

.header__menu--items ul li:hover ul li:nth-child(15) {
  transition-delay: 1.5s;
}

.header__menu--items ul li ul li ul li {
  transition-delay: 0s !important;
}

.header__menu--items ul li ul li:hover ul li:nth-child(15) {
  transition-delay: 1.5s !important;
}

.header__menu--items ul li ul li:hover ul li {
  transform: translateY(0) !important;
}

.header__menu--items ul li ul li ul li {
  transform: translateY(10px);
}

header.header.isActive {
  background: transparent;
}
header.header.isActive .header__inner {
  padding: 0 3rem;
}
header.header.isActive .header__menu--button {
  transform: translate(-3.7rem, -50%);
}
header.header.isActive .menu__container .header__menu .header__menu--items {
  transform: translateX(103%);
  opacity: 0;
  visibility: hidden;
}
header.header.isActive .menu__container .header__menu.active .header__menu--items {
  transform: translateX(-5rem);
  opacity: 1;
  visibility: visible;
}

.header__menu--items {
  transition: 1.2s all ease;
}

.active .header__menu--button span:first-child {
  transform: translate(0px, 0.3rem) rotate(-45deg);
}
.active .header__menu--button span:last-child {
  transform: translate(0px, -0.3rem) rotate(45deg);
}
.active .header__menu--button span:nth-child(2) {
  transform: translate(0.5rem, 0);
  opacity: 0;
}

.bg {
  background: #fff !important;
  box-shadow: 0 0.1rem 1rem rgba(0, 0, 0, 0.2);
  transition: 1s all;
}

.footer__widget--about {
  margin-bottom: 2rem;
}
.footer__widget--about h5 {
  font-weight: 600;
  font-family: "Josefin Sans", sans-serif;
}
.footer__widget .footer__contact--list li {
  color: #222222;
  padding-left: 4rem;
  position: relative;
  font-size: 1.8rem;
  line-height: 3rem;
  font-weight: 600;
  padding-bottom: 2rem;
}
.footer__widget .footer__contact--list li span {
  position: absolute;
  left: 0;
  top: 0;
}
.footer__widget .footer__contact--list li a {
  color: currentColor;
  font-size: 1.8rem;
  line-height: 3rem;
  font-weight: 600;
}

.footer__copyright p {
  color: #666666;
  font-size: 1.8rem;
}

.line1, .line2 {
  position: fixed;
  top: 0;
  left: 31%;
  height: 100%;
  width: 1px;
  background-color: #f1f0ef;
  z-index: -1;
}

.line2 {
  left: 60.8%;
}

.single__banner {
  position: relative;
  height: 99rem;
  padding-top: 10rem;
}

.banner__text {
  z-index: 10;
  position: absolute;
  right: 15px;
  top: 12.7rem;
}
.banner__text .text__head {
  padding-bottom: 5.5rem;
}
.banner__text .text__head h1 {
  font-family: "Abril Fatface", cursive;
  color: #222222;
}
.banner__text .text__head h1 span {
  font-size: 12rem;
  position: relative;
  display: inline-block;
  margin-left: 70px;
  margin-top: -7px;
}
.banner__text .text__head h1 span::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  height: 3.5rem;
  background: #f9eec2;
  bottom: 3px;
  top: auto;
  z-index: -1;
  top: auto;
}
.banner__text .text__bottom {
  margin-left: 19rem;
}
.banner__text .text__bottom .text__bottom--paragraph {
  padding-bottom: 40px;
}
.banner__text .text__bottom .banner__btn {
  text-align: center;
}

.banner__mata {
  width: 19rem;
  margin-left: 15px;
  position: absolute;
  bottom: -8rem;
}
.banner__mata .banner__mata--content a {
  color: #222222;
  font-size: 1.4rem;
  line-height: 3rem;
  font-weight: 700;
  display: block;
}
.banner__mata .banner__mata--content a span {
  color: #666666;
  font-weight: 400;
}

.slider__count {
  margin-bottom: 1.7rem;
}
.slider__count h3 {
  font-family: "Abril Fatface", cursive;
  color: #222222;
}
.slider__count h3 span {
  font-size: 1.6rem;
}

.section__title {
  margin-bottom: 63px;
  margin-top: -0.6rem;
}
.section__title h4 {
  font-family: "Abril Fatface", cursive;
}
.section__title h2 {
  font-family: "Abril Fatface", cursive;
}

.section__description {
  margin-bottom: 11.2rem;
}
.section__description p {
  font-weight: 300;
}

.single__works--wrap:nth-child(even) {
  transform: translateY(-24.8rem);
}

.single__works {
  margin-bottom: 22rem;
}
.single__works .single__works--image {
  position: relative;
}
.single__works .single__works--image .more-details {
  position: absolute;
  bottom: 2rem;
  right: 4.5rem;
  font-size: 2.8rem;
  color: #222222;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s all linear;
}
.single__works .single__works--image figcaption {
  color: #222222;
  font-size: 3rem;
  position: absolute;
  bottom: 8.9rem;
  left: 81%;
  width: 25.5rem;
}
.single__works .single__works--image figcaption a {
  color: currentColor;
  font-family: "Abril Fatface", cursive;
}
.single__works .single__works--image:hover .more-details {
  visibility: visible;
  opacity: 1;
}

.load__more {
  padding-left: 19rem;
  margin-top: -3.4rem;
}

.single__testimonial {
  position: relative;
  margin-top: 1.6rem;
}
.single__testimonial--quote svg {
  position: absolute;
  top: 1rem;
  left: 16.8rem;
}
.single__testimonial--paragraph {
  padding-bottom: 1.3rem;
}
.single__testimonial--paragraph p {
  font-style: italic;
  font-weight: 300;
  margin-bottom: 2rem;
}
.single__testimonial--author {
  margin-bottom: -10px;
}
.single__testimonial--author h6 {
  font-weight: bold;
  margin-bottom: 0;
}
.single__testimonial--author p {
  font-weight: 400;
  font-size: 1.8rem;
  margin-bottom: 0;
}

.testimonial--carousel .owl-nav {
  position: absolute;
  bottom: 2rem;
  right: 19.9rem;
}
.testimonial--carousel .owl-nav button {
  line-height: 1;
  height: 3.5rem;
  width: 3.5rem;
}

.page__title {
  padding-top: 14rem;
  padding-bottom: 9.1rem;
}

.title__heading {
  display: flex;
  justify-content: space-between;
  padding-bottom: 3.8rem;
}
.title__heading--text h1 {
  font-family: "Abril Fatface", cursive;
  display: inline-block;
  position: relative;
  z-index: 1;
}
.title__heading--text h1::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  height: 2rem;
  bottom: 0;
  left: 0;
  top: auto;
  background: #f9eec2;
  z-index: -1;
}
.title__heading--breadcumb {
  align-self: flex-end;
}
.title__heading--breadcumb li {
  position: relative;
}
.title__heading--breadcumb li + li::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  height: 2px;
  width: 2px;
  top: 58%;
  background: #999999;
  left: 4px;
  border-radius: 50%;
}
.title__heading--breadcumb li a {
  font-size: 1.8rem;
  color: #999999;
  margin-left: 1rem;
  padding: 0.5rem 0.5rem;
}
.title__heading--breadcumb li a.active:last-child {
  color: #222222;
}

.section__title--type2 {
  padding-bottom: 6rem;
  margin-top: -10px;
}
.section__title--type2 h2 {
  text-transform: lowercase;
  line-height: 54px;
}

.single__blog {
  margin-bottom: 6.5rem;
}
.single__blog--image {
  position: relative;
  margin-bottom: 3.3rem;
}

.blog__details {
  padding: 0 9.5rem 0 9.5rem;
}
.blog__details h4 {
  color: #222222;
  padding-bottom: 1.8rem;
  line-height: 4rem;
}
.blog__details h4 a {
  color: currentColor;
  display: inline-block;
}
.blog__details p {
  color: #222222;
  margin-bottom: 0.6rem;
}
.blog__details .details__bottom {
  justify-content: space-between;
}

.blog__info .blog__info--mate {
  color: #666666;
  font-size: 1.4rem;
  margin-left: 3rem;
  display: inline-block;
  font-weight: 600;
}

.blog__quote {
  padding: 6.5rem 9rem 4.5rem 13rem;
  background: #fffcf4;
}
.blog__quote .blog__info .blog__info--mate {
  margin-right: 3rem;
  margin-left: 0;
}

.blog__quote--text h4 {
  line-height: 4rem;
  position: relative;
}
.blog__quote--text span {
  position: absolute;
  top: -16px;
  left: -29px;
  display: inline-block;
}
.blog__quote--text span .svg .cls-1 {
  fill: #f9eec2;
}
.blog__quote--text span i {
  color: #f9eec2;
}
.blog__quote--text span:last-child {
  bottom: -12px;
  top: auto;
  right: 27px;
  left: auto;
}

.quote__author {
  position: relative;
}
.quote__author p {
  font-weight: 400;
  font-style: italic;
  padding-left: 2.5rem;
  margin-top: 0.6rem;
  margin-bottom: 1.2rem;
}
.quote__author::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  height: 2px;
  width: 20px;
  background: #222222;
  top: 55%;
  transform: translateY(-50%);
}

.blog__video {
  overflow: hidden;
}
.blog__video:hover a:after {
  transform: scale(2);
  opacity: 0;
}
.blog__video .single__blog--video {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.1s all;
}
.blog__video .video-btn {
  height: 85px;
  width: 85px;
  line-height: 85px;
  background: #f6eee3;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  position: relative;
  transition: 0.3s all;
}
.blog__video .video-btn::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  border: 2px solid #98847e;
  border-radius: 50%;
  transition: 0.3s all ease;
}

.single__blog.blog__link {
  padding: 7.2rem 9rem 6.3rem;
  background: #fffcf4;
}
.single__blog.blog__link .blog__link--text a {
  color: currentColor;
  line-height: 4rem;
}
.single__blog.blog__link .blog__link--text h4 {
  margin-bottom: 1.7rem;
}
.single__blog.blog__link .blog__link--icon {
  position: absolute;
  top: 3rem;
  left: 5rem;
}

.blog__slider--carousel .owl-nav {
  position: absolute;
  bottom: 0;
  right: 0;
}
.blog__slider--carousel .owl-prev,
.blog__slider--carousel .owl-next {
  height: 6rem;
  text-align: center;
  line-height: 6rem;
  width: 4.5rem;
  background: #fff !important;
}

.blog__slider .slider__count {
  position: absolute;
  z-index: 11;
  bottom: 1rem;
  left: 3rem;
  margin-bottom: 0;
}

.slider__count {
  margin-bottom: 1.7rem;
}
.slider__count h3 #counter {
  font-family: "Abril Fatface", cursive;
  color: #222222;
  font-size: 3.6rem;
  font-variant-numeric: tabular-nums;
}
.slider__count h3 #total-counter {
  font-size: 1.6rem;
}

.blog__pagination {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.blog__pagination .pagination__page--number ul {
  display: flex;
}
.blog__pagination .pagination__page--number ul li.active a {
  border: 1px solid #ffd684;
}
.blog__pagination .pagination__page--number ul li a {
  height: 6rem;
  width: 6rem;
  line-height: 6rem;
  text-align: center;
  display: block;
  font-family: "Abril Fatface", cursive;
  font-size: 1.6rem;
  color: #222222;
  border-radius: 50%;
}
.blog__pagination .pagination__prev a span {
  margin-right: 1rem;
}
.blog__pagination .pagination__next a {
  padding-right: 0;
}
.blog__pagination .pagination__next a span {
  margin-left: 1rem;
}

.post__head {
  padding-top: 13rem;
  padding-bottom: 4rem;
}
.post__head h1 {
  line-height: 7.5rem;
  padding-bottom: 9.3rem;
}
.post__head--mata {
  padding-bottom: 3rem;
}
.post__head--mata li {
  display: inline-block;
  padding-right: 2.6rem;
  color: #333333;
}
.post__head--mata li a {
  font-weight: 600;
  color: #333333;
  font-size: 16px;
}
.post__head----discription {
  padding-bottom: 3.5rem;
}

.post__main--image {
  padding-bottom: 6.7rem;
  margin-left: calc(50% - 50vw);
  margin-right: calc(50% - 50vw);
  max-width: 3000%;
}
.post__main--image img {
  width: 100%;
}

.post__body--discription {
  padding-bottom: 3rem;
}
.post__body--discription h5 {
  line-height: 36px;
  padding-bottom: 30px;
  font-weight: 600;
}

.author__quote {
  padding-bottom: 6rem;
}
.author__quote--content {
  padding-left: 2rem;
}
.author__quote--content p {
  font-style: italic;
  margin-bottom: 18px;
}
.author__quote--content h6 {
  position: relative;
  padding-left: 35px;
}
.author__quote--content h6::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  width: 25px;
  height: 2px;
  left: 0;
  top: 62%;
  transform: translateY(-50%);
  background: #222222;
}

.body__content--heading {
  margin-bottom: 4rem;
}

.end__discription {
  position: relative;
  text-align: center;
  padding-top: 2rem;
  padding-bottom: 4.4rem;
}
.end__discription--item {
  height: 7px;
  width: 7px;
  background: #d1d1d1;
  margin-right: 1.5rem;
  display: inline-block;
  margin-left: 1.5rem;
}

.post__meta {
  margin-bottom: 6px;
}
.post__meta .post__meta--tags p,
.post__meta .post__meta--category p {
  font-size: 16px;
  line-height: 3rem;
  font-weight: 400;
  display: inline-block;
}
.post__meta .post__meta--tags a,
.post__meta .post__meta--category a {
  font-size: 14px;
  line-height: 3rem;
  font-weight: 300;
  display: inline-block;
  color: #666666;
}
.post__meta .post__meta--comment .blog__info--mate {
  color: #666666;
  font-size: 14px;
}
.post__meta .post__meta--comment .blog__info--mate span {
  font-weight: 700;
  color: #222222;
  font-size: 16px;
}

.post__author {
  border-top: 1px solid #ececec;
  border-bottom: 1px solid #ececec;
  padding: 3.7rem 0 3.4rem;
  margin-bottom: 4rem;
}
.post__author .author__discription .avatar {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  margin-right: 20px;
  overflow: hidden;
}
.post__author .author__discription .author__name span {
  font-weight: 300;
  font-size: 14px;
  color: #666666;
}
.post__author .author__discription .author__name p {
  margin-bottom: 0;
  font-size: 18px;
  font-weight: 400;
  line-height: 1;
  color: #222222;
}
.post__author .author__comment--quote p {
  font-size: 18px;
  margin-bottom: 0;
}

.post__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 9.5rem;
}
.post__nav .post__social ul {
  display: flex;
}
.post__nav .post__social ul li:hover a {
  border: 1px solid #ffd684;
}
.post__nav .post__social ul li a {
  height: 6rem;
  width: 6rem;
  line-height: 6rem;
  text-align: center;
  display: block;
  font-family: "Abril Fatface", cursive;
  font-size: 2.4rem;
  color: #222222;
  border-radius: 50%;
  transition: 0.3s all ease;
  border: 1px solid transparent;
}
.post__nav .post__prev a span {
  margin-right: 1rem;
}
.post__nav .post__next a {
  padding-right: 0;
}
.post__nav .post__next a span {
  margin-left: 1rem;
}

.post__comments {
  padding-bottom: 5rem;
}
.post__comments h4 {
  padding-bottom: 18px;
}
.post__comments .comment__wrap ul li {
  padding-top: 4.2rem;
}
.post__comments .comment__wrap ul li li {
  padding-left: 95px;
}

.single__comment {
  position: relative;
}
.single__comment .avatar {
  height: 70px;
  width: 70px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 30px;
}
.single__comment .comment__details {
  flex: 1;
}
.single__comment .comment__details h6 {
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 0;
  color: #222222;
  line-height: 1;
}
.single__comment .comment__details span {
  color: #222222;
  font-size: 14px;
}
.single__comment .comment__details p {
  font-size: 18px;
  margin-bottom: 0;
}
.single__comment .comment__details .reply__btn {
  position: absolute;
  top: 0;
  right: 0;
  color: #222222;
  font-size: 14px;
  font-weight: 400;
}
.single__comment .comment__details .reply__btn i {
  margin-right: 10px;
}

.comment__form {
  border: 2px solid #222222;
  border-radius: 3px;
  padding: 4.5rem 5rem 4rem;
}
.comment__form h4 {
  padding-bottom: 6.5rem;
}
.comment__form textarea {
  width: 100%;
  height: 12rem;
  resize: none;
  border: none;
  border-bottom: 1px solid #222222;
  margin-bottom: 30px;
  outline: none;
  box-shadow: none;
  font-size: 16px;
  padding-left: 20px;
  color: #222;
  font-weight: 300;
}
.comment__form input {
  width: 100%;
  height: 4rem;
  resize: none;
  border: none;
  border-bottom: 1px solid #222222;
  margin-bottom: 30px;
  outline: none;
  box-shadow: none;
  font-size: 16px;
  padding-left: 20px;
  color: #222;
  font-weight: 300;
}

.details__head--discription h5 {
  font-weight: 600;
}
.details__head h1 {
  margin-bottom: 4.5rem;
  text-transform: lowercase;
}
.details__head .details__head--discription {
  padding-bottom: 8.2rem;
}
.details__head .details__head--discription p {
  font-weight: 400;
}
.details__head .details__head--meta {
  padding-bottom: 6.4rem;
}
.details__head .details__head--meta ul {
  display: flex;
}
.details__head .details__head--meta ul li {
  flex: 0 0 33%;
  flex-wrap: wrap;
  color: #222222;
}
.details__head .details__head--meta ul li p {
  margin-bottom: 4px;
  line-height: 1;
}
.details__head .details__head--meta ul li a {
  font-weight: 600;
  color: currentColor;
}

.works__carousel:hover .owl-prev {
  left: -15px;
}
.works__carousel:hover .owl-next {
  right: -15px;
}
.works__carousel .owl-prev, .works__carousel .owl-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  transition: 0.3s all ease;
}
.works__carousel .owl-prev svg path, .works__carousel .owl-next svg path {
  fill: #666;
  transition: 0.3s all;
}
.works__carousel .owl-prev:hover svg path, .works__carousel .owl-next:hover svg path {
  fill: #c0c0c0;
}
.works__carousel .owl-next {
  right: 0;
  left: auto;
}

.details__image {
  margin-bottom: 6.5rem;
}

.details__body-discription {
  padding-bottom: 3.6rem;
}

.we__hear h2 {
  margin-top: -6px;
}
.we__hear--address {
  margin-bottom: 4rem;
}
.we__hear--address span {
  color: #999999;
  font-size: 16px;
  line-height: 3rem;
}
.we__hear--address h6 {
  font-weight: 600;
}
.we__hear--social span {
  color: #999999;
  font-size: 16px;
  line-height: 3rem;
  margin-bottom: 10px;
  display: inline-block;
}
.we__hear--social .social__items li {
  position: relative;
  line-height: 1;
}
.we__hear--social .social__items a {
  display: inline-block;
  font-size: 24px;
  font-weight: 600;
  color: currentColor;
  margin-bottom: 5px;
  position: relative;
  line-height: 1;
  margin-bottom: 16px;
}
.we__hear--social .social__items a::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  height: 8px;
  width: 0%;
  right: 0;
  transition: 0.3s all ease;
  bottom: 1px;
  background: #ffe8ba;
  z-index: -1;
  top: auto;
  left: auto;
}
.we__hear--social .social__items a:hover::before {
  width: 100%;
}

#map {
  height: 70rem;
  width: 100%;
}

.contact__us h2 {
  margin-top: -6px;
}

.single__form--item {
  margin-bottom: 4rem;
}
.single__form--item:last-child {
  margin-bottom: 0;
}
.single__form--item span {
  color: #999999;
  font-size: 16px;
  line-height: 3rem;
  margin-bottom: 6px;
}
.single__form--item .form__field {
  margin-top: 13px;
}
.single__form--item .form__field input, .single__form--item .form__field textarea {
  margin-bottom: 3rem;
}

.about__me--discription {
  margin-bottom: 4rem;
}

.about__main--content {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.about__me--counter h6 {
  font-weight: 300;
}
.about__me--counter span {
  font-variant-numeric: tabular-nums;
  font-size: 24px;
  font-weight: 700;
}

.single__skill {
  margin-bottom: 5.5rem;
}
.single__skill .skill-circle {
  position: relative;
  margin-right: 30px;
  height: 65px;
}
.single__skill .skill-circle h6 {
  font-size: 16px;
  font-weight: 600;
  position: absolute;
  top: 50%;
  margin-bottom: 0;
  transform: translate(-50%, -50%);
  left: 50%;
  line-height: 1;
}

.single__experience {
  padding-bottom: 6.5rem;
}
.single__experience .company__info {
  padding-bottom: 13px;
}
.single__experience .company__info h5 {
  font-weight: 600;
  display: inline-block;
  margin-right: 3rem;
}
.single__experience .company__info span {
  font-weight: 600;
  font-size: 16px;
}
.single__experience .company__discription p {
  margin-bottom: 0;
}

.about__us {
  margin-top: -20px;
}

.contact__me--free h5 {
  font-weight: 600;
  margin-bottom: 20px;
}
.contact__me--free .contact__email {
  position: relative;
}
.contact__me--free .contact__email h4 {
  display: inline-block;
  position: relative;
}
.contact__me--free .contact__email h4::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  height: 14px;
  background: #ffe8ba;
  bottom: -3px;
  top: auto;
  z-index: -1;
}

.about__image--content {
  padding-top: 70px;
}
.about__image--content h5 {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 20px;
}

.single__service {
  padding-bottom: 7rem;
}
.single__service .service__info h5 {
  font-weight: 600;
  margin-bottom: 2.3rem;
}
.single__service .service__discription p {
  margin-bottom: 0;
}

.single__client {
  margin-bottom: 4.8rem;
}
.single__client h5 {
  font-weight: 600;
  display: inline-block;
  margin-right: 25px;
  margin-bottom: 0;
}
.single__client span {
  font-size: 16px;
  line-height: 40px;
}

/*# sourceMappingURL=style.css.map */
